{
  "ignorePatterns": ["dist/"],
  "extends": ["airbnb-base", "airbnb-typescript/base", "prettier"],
  "plugins": ["prettier"],
  "parserOptions": {
    "project": "./tsconfig.json",
  },
  "rules": {
    "prettier/prettier": "error",
    "no-underscore-dangle": "off",
    "@typescript-eslint/naming-convention": "off",
    "func-names": "off",
    "consistent-return": "off",
    "no-console": "off",
  },
}
