{
  "ignorePatterns": ["dist/"],
  "extends": ["airbnb-base", "airbnb-typescript/base", "prettier"],
  "plugins": ["prettier"],
  "parserOptions": {
    "project": "c:/1. javy's d/navm8/backend/tsconfig.json",
  },
  "rules": {
    "prettier/prettier": "error",
    "no-underscore-dangle": "off",
    "@typescript-eslint/naming-convention": "off",
    "func-names": "off",
    "consistent-return": "off",
    "no-console": "off",
    "@typescript-eslint/no-unused-vars": [
      "error",
      { "argsIgnorePattern": "^_" },
    ],
  },
}
