/* Scrollbar */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0b6b78;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fff;
  border: 1px solid #0b6b78; /* Border color and width */
}

.swiper-pagination-bullet {
  background: #fff;
  border: 2px solid #0b6b78;
  opacity: 0.7;
  transition: transform 0.3s ease;
}

/* Style the active bullet */
.swiper-pagination-bullet-active {
  background: #0b6b78;
}
.swiper-pagination-bullet:hover {
  transform: scale(1.2);
}

.messages {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-width: none;
}

.react-calendar {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  padding: 1px;
}

.react-calendar__tile {
  font-size: 14px;
  padding: 12px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.react-calendar {
  width: 100%;
  border: none !important;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.react-calendar__tile--active,
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #0b6b78 !important;
  color: white;
  font-weight: bold;
}

.react-calendar__tile--now {
  background: red !important;
  color: white;
  font-weight: bold;
}

.react-calendar__navigation button {
  font-size: 1.3rem;
  color: #0b6b78;
  padding: 5px 10px;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 8px;
  color: #69490b;
}

.react-calendar__tile--hasActive {
  background-color: #0b6b78;
  color: #fff;
}
